body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin:0;
    /* background-color:#f5dad1; */
  }
  .container{
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  
  /* Header */
  header{
    background: #0b0b0b;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #2e1d40 3px solid;
  }
  header a{
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
  }
  header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
  }
  header #branding{
    float: left;
  }
  header #branding h1{
    margin: 0;
  }
  header nav{
    float: right;
    margin-top: 5px;
  }
  header .highlight, header .current a{
    color: #ff00a9;
    font-weight: bold;
  }
  header a:hover{
    color: #cccccc;
    font-weight: bold;
  }
  #boxes div {
    min-height: 300px;
    background-size: cover;
    background-color: #0b0b0b;
    text-align: center;
    color: #ffffff;
  }
  #boxes h3{
    color:#ff0000;
  }
  /* Newsletter */
  #Enjoy{
    padding: 5px;
    color: #ffffff;
    background: #353637;
  }
  #Enjoy h3{
    float: left;
  }
  #Enjoy form{
    float: right;
    margin-top: 0;
  }
  #Enjoy input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
  }
  
    #Enjoy button {
      display: block;
      width: 100%;
    }
    #Enjoy form input[type="email"] {
      width: 100%;
      margin-bottom: 5px;
    }
  
  .button_1{
    height: 38px;
    background: #5c5ca7;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #353637;
  }
  .box1{
    background-image: url('../img/clothCover.jpg');
  }
  .box2{
    background-image: url('../img/shoeCover.jpg');
  }
  .box3{
    background-image: url('../img/bagCover.jpg');
  }
  footer{
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #2e1d40;
    text-align: center;
  }
  @media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #Enjoy h1,
    #Enjoy form,
    #boxes .box {
      float: none;
      text-align: center;
      width: 100%;
    }
  }
    div{
      margin:0px 12px 0 12px;
    }
    header{
      padding-bottom: 20px;
    }
  /* Sidebar */
  aside#sidebar{
    float: right;
    width: 30%;
    padding: 5px;
  }
  aside#sidebar .contact input, aside#sidebar .contact textarea{
    width: 90%;
    padding: 5px;
  }
  #sidebar img {
    border-radius: 50%;
  }
  article#main-col{
    float: left;
    width: 65%;
  }
  @media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #Enjoy h1,
    #Enjoy form,
    #boxes .box,
    article#main-col,
    aside#sidebar {
      float: none;
      text-align: center;
      width: 100%;
    }
  
    
  }
  /* Services */
  ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #2e1d40;
  }
  ul#services h3{
    border-bottom: #353637 solid 1px;
  }
  ul#about li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #d77fd5;
  }
  ul#about h3{
    border-bottom: #353637 solid 1px;
  }
  #Enjoy form input[type="email"],
    .contact input,
    .contact textarea,
    .contact label{
      width: 100%;
      margin-bottom: 5px;
    }
    .page-title {font-size: 30px;}
    .leftpane{
        width: 25%;
        min-width: 10px;
        height: available;
        min-height: 10px;
        float: left;
        border-collapse: collapse;
    }
  
    .middlepane{
       width: 32%;
       min-width: 40px;
       height: available;
       min-height: 10px;
       float: left;
       background-color: #2e1d40;
       border-collapse: collapse;
    }
  
    .rightpane{
        width: available;
        height: available;
        position: relative;
        margin-left: 75%;
        border-collapse: collapse;
    }
    @media only screen and (max-width: 600px) {
        body {
            background-color: lightblue;
        }
    }
    .fade-in-text { 
      display: inline-block;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 150px;
      color: black;
      animation: fadeIn linear 7s;
      -webkit-animation: fadeIn linear 7s;
      -moz-animation: fadeIn linear 7s;
      -o-animation: fadeIn linear 7s;
      -ms-animation: fadeIn linear 7s;
    }
    
    @keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-moz-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-webkit-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-o-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    
    @-ms-keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    p {
      animation: color-change 1s infinite;
    }
    
    @keyframes color-change {
      0% { color: rgb(255, 0, 170); }
      10% { color: rgb(217, 255, 0); }
      100% { color: rgb(51, 255, 0); }
    }
















    











































    